# Created by https://www.toptal.com/developers/gitignore/api/renpy
# Edit at https://www.toptal.com/developers/gitignore?templates=renpy

### Renpy ###
# Don't track content of these folders #
########################################
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/cache/
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/saves/

# Compiled source #
###################
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/*.com
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/*.class
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/*.dll
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/*.exe
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/*.o
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/*.so

IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/*.rpyc
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/*.rpymc


# The log file and other misc things #
######################################
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/log.txt
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/errors.txt
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMaskt/raceback.txt
IGotTransportedIntoAnotherWorldAndBecameItsRulerThanksToThisMysteriousMask/files.txt

# End of https://www.toptal.com/developers/gitignore/api/renpy
